.info{
  font-family: 'Ubuntu Condensed', sans-serif;
}
h1{
color:white;
}
.home{
  padding-top: 50px;
}
.sec{
  font-size: 2rem;
  position: relative;
  top: 170px;
  text-align: center;
  font-family: "Montserrat" sans-serif;
  font-weight: bold;
}
.sec2{
  position: relative;
  top: 200px;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
  font-family: "Montserrat" sans-serif;
  font-size: 1.5rem;
}
#contact{
  background-color: #e43f5a;
  height: 320px;

}
#carouselExampleSlidesOnly{
  position: relative;
  top: 250px;
  text-align: center;
  background-color: #e43f5a;
  height: 400px;

}
#services{
  position: relative;
  top:400px;
  text-align: center;
}
.footer-link{
  padding: 50px 20px;
  position: relative;
  top:20px;
  left:370px;
  width: 50px;




}
.number{
  position: relative;
  right:150px;
}
.location{
  width: 40px;

}
.fot-img{
  width: 20px;
}
.add{
  position: relative;
  top:70px;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
.add1{
  position: relative;
  top:40px;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
.copyright{
  position: relative;
  top: 90px;
  color: white;
  margin-bottom: 0;
}
.carousel-inner{
  color: white;
  padding: 0 20%;
  position: relative;
  top: 30px;

}
.exp{
  font-size: 2rem;
}
.thumbs{
  width: 20%;
  border-radius: 100%
}
.testimonial-image{
  width: 20%;
  border-radius: 100%;
}
.plan{
  font-size: 2rem;
  font-weight: bold;

}
.txt-align{
  padding-left: 200px;
  padding-right: 200px;
}
.social{
  padding-left: 200px;
  padding-right: 200px;

}
.seo-image{
  width: 40%;
  position: relative;
  left:100px;
  border-radius: 100%;
  text-align: center;
}
.smm{
  width: 40%;
  position: relative;
  left:100px;
  border-radius: 100%;
  text-align: center;
}
.web{
  width: 55%;
  position: relative;
  left:80px;
  border-radius: 100%;
  text-align: center;
}
.app{
  width: 50%;
  position: relative;
  left:80px;
  bottom:20px;
  border-radius: 100%;
  text-align: center;
}
.align1{
  position: relative;
  left: 100px;
}
.align2{
  position: relative;
  right: 100px;
}
.seo-img{
  width: 500px;

}
.give{
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  right: 100px;
  top: 90px;

}
.re{
  position: relative;
  right: 100px;
  top: 90px;


}









body {
    background: #fbfbfd;
}

.new_footer_area {
    background: #fbfbfd;
}
.call{
  position: relative;
  top: 125px;
}

.fot-img{
  width: 10%;
  padding: 10px 10px;
}
.footer-link{

}
.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
      overflow-x: hidden;
}
.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}
.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}
.new_footer_top .company_widget p {
    font-size: 2rem;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}
.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}
.btn_get:hover {
    color: #fff;
    background: #6754e2;
    border-color: #6754e2;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}
.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.ti-facebook:before {
    content: "\e741";
}
.ti-twitter-alt:before {
    content: "\e74b";
}
.ti-vimeo-alt:before {
    content: "\e74a";
}
.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #5e2ced;
    border-color: #5e2ced;
    color: #fff;
}

.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
    background: #5e2ced;
    border-color: #5e2ced;
  color:white;
}
.new_footer_top .f_social_icon a + a {
    margin-left: 4px;
}
.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}
.f_600 {
    font-weight: 600;
}
.f_size_18 {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
    color: #6a7695;
}


.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("http://droitthemes.com/html/saasland/img/seo/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://1.bp.blogspot.com/-mvKUJFGEc-k/XclCOUSvCnI/AAAAAAAAUAE/jnBSf6Fe5_8tjjlKrunLBXwceSNvPcp3wCLcBGAsYHQ/s1600/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
  background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://1.bp.blogspot.com/-hjgfxUW1o1g/Xck--XOdlxI/AAAAAAAAT_4/JWYFJl83usgRFMvRfoKkSDGd--_Sv04UQCLcBGAsYHQ/s1600/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
  background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

/*************footer End*****************/
